@media (max-width: 991px) {

    /* --------------------------------------------------------------- */
    /* Poster Section */
    /* --------------------------------------------------------------- */
    .poster-section {
        margin-top: 40px;
        height: 100%;
    }

    .supported-logos img {
        max-width: 55px;
    }

    .powered-logos img {
        max-width: 80px;
    }

    /* --------------------------------------------------------------- */
    /* Champion Section */
    /* --------------------------------------------------------------- */
    .champion-section .container {
        max-width: 700px;
    }

    .champion-image img {
        width: 100%;
        height: 100%;
    }

    /* --------------------------------------------------------------- */
    /* Partner Section */
    /* --------------------------------------------------------------- */
    .partner-section .container {
        max-width: 700px;
    }
}