@media (max-width: 768px) {

    /* --------------------------------------------------------------- */
    /* Poster Section */
    /* --------------------------------------------------------------- */
    .poster-section {
        margin-top: 60px;
        height: 100%;
        padding: 0;
    }

    .partners-header {
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
    }

    .partners-logos {
        flex-direction: column;
        width: 100%;
        gap: 30px;
    }

    .supported-logos,
    .powered-logos {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        width: 100%;
    }

    .support-title,
    .power-title {
        display: block;
        margin-bottom: 15px;
        font-size: 1em;
    }

    .partners-container {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .supported-section,
    .powered-section {
        width: 100%;
    }

    .supported-logos img,
    .powered-logos img {
        height: 40px;
    }

    /* --------------------------------------------------------------- */
    /* Champion Section */
    /* --------------------------------------------------------------- */
    .champion-section .container {
        padding: 0;
    }

    .champion-section {
        padding: 0;
    }

    #championContainer {
        margin: 0;
        padding: 0;
    }

    .champion-image {
        width: 100%;
        height: auto;
        display: block;
    }

    .champion-section h2 {
        margin-bottom: 20PX;
    }

    .champion-image {
        margin: 0;
    }

    .champion-image img {
        width: 100%;
        height: 100%;
    }

    .champion-details h3 {
        font-size: 0.8rem;
        color: var(--text-black);
        margin-bottom: 10px;
    }

    .prize-amount {
        font-size: 0.7rem;
        color: var(--text-black);
        margin: 15px 0;
    }

    .champion-details p {
        font-size: 0.7rem;
        color: var(--text-black);
        margin: 5px 0;
    }

    .autoplay-progress {
        right: 10px;
        bottom: 180px;
        z-index: 10;
        width: 24px;
        height: 24px;
        display: flex;
        font-size: 0.6em;
    }

    /* --------------------------------------------------------------- */
    /* Partner Section */
    /* --------------------------------------------------------------- */
    .partner-section {
        padding: 10px;
    }

    .partner-section .container {
        max-width: 400px;
    }

    .partner-section h2 {
        font-size: 0.9rem;
        padding-bottom: 0;
    }

    .partners-grid .row {
        margin: 0;
    }

    .country-name {
        font-size: 0.8rem;
    }

    .country-name {
        font-size: 0.8rem;
    }

    .partner-logo {
        width: 100%;
        max-width: 70px;
        height: auto;
        margin: 0 auto;
        display: block;
    }

    .malaysia-first-logo {
        width: 100%;
        max-width: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .container h2 {
        font-size: 1rem;
    }

}