/* --------------------------------------------------------------- */
/* Poster Section */
/* --------------------------------------------------------------- */
.poster-section {
    margin-top: 60px;
    width: 100%;
    position: relative;
    overflow: hidden;
    transition: margin-top 0.3s ease;
}

.poster-section img {
    width: 100%;
    object-fit: cover;
}

/* --------------------------------------------------------------- */
/* Champion Section */
/* --------------------------------------------------------------- */
.champion-section .container {
    max-width: 900px;
}

.champion-section {
    padding: 50px 0;
    text-align: center;
    color: var(--text-black);
}

.champion-section h2 {
    font-size: 1rem;
    margin-bottom: 20px;
    font-weight: bold;
    animation: fadeInUp 1s ease;
}

.champion-image {
    max-width: 75%;
    margin: 30px auto;
    position: relative;
}

.champion-image img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.nav-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(10%);
    width: 48px;
    height: 48px;
    background-color: transparent;
    color: black;
    border: 5px solid black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 1000;
}

.nav-arrow .material-icons {
    font-size: 56px;
    line-height: 1;
}

.nav-arrow:hover,
.nav-arrow:active {
    opacity: 1;
    transform: scale(1.2);
}

.nav-arrow:active {
    background-color: rgba(26, 35, 126, 1);
}

.nav-arrow.prev {
    left: -75px;
}

.nav-arrow.next {
    right: -75px;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.champion-details {
    margin-top: 30px;
    animation-duration: 1s;
}

.champion-details h3 {
    font-size: 1rem;
    color: var(--text-black);
    margin-bottom: 10px;
}

.prize-amount {
    font-size: 0.9rem;
    color: var(--text-black);
    margin: 15px 0;
}

.champion-details p {
    font-size: 0.9rem;
    color: var(--text-black);
    margin: 5px 0;
}

/* --------------------------------------------------------------- */
/* Partner Section */
/* --------------------------------------------------------------- */
.partner-section .container {
    max-width: 900px;
}

.partner-section {
    padding: 50px 0;
    text-align: center;
}

.partner-section h2 {
    font-size: 1rem;
    padding-bottom: 30px;
    font-weight: bold;
    animation: fadeInUp 1s ease;
    color: var(--text-black);
}

.country-name {
    color: var(--gray);
    font-size: 0.8rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.partner-section .row {
    margin-bottom: 30px;
}

.partner-logo {
    width: 100%;
    height: auto;
    transition: all 0.3s ease;
    cursor: pointer;
}

.partner-logo:hover {
    transform: scale(1.2);
}

.scroll-animation {
    opacity: 0;
}

.scroll-animation.animate__animated {
    opacity: 1;
}