@import url('var.css');

/* --------------------------------------------------------------- */
/* Font Type */
/* --------------------------------------------------------------- */
body {
    background-color: var(--primary);
    color: white;
    /* user-select: none; */
}

h1{
    font-family: var(--font-primary);
}

.navbar .nav-link {
    font-family: var(--font-primary);
    font-weight: 500;
}

.register-btn {
    font-family: var(--font-primary);
    font-weight: bold;
}

.footer {
    font-family: var(--font-primary);
    font-weight: 300;
}

/* --------------------------------------------------------------- */
/* Navbar */
/* --------------------------------------------------------------- */
.navbar {
    background-color: var(--dark-blue) !important;
    padding: 1rem;
    width: 100%;
    transition: all 0.3s ease;
}

.nav-link {
    color: white !important;
    margin: 0 30px;
    position: relative;
    transition: all 0.3s ease;
    font-size: 0.75rem;
}

.nav-link:hover {
    transform: translateY(-2px);
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: white;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.3s ease;
}

.nav-link:hover::after,
.nav-link.active::after {
    width: 100%;
    /* Shorter line */
    background: var(--primary);
}

.nav-link.active {
    color: var(--primary) !important;
    font-weight: bold;
}

/* Dropdown styles */
.dropdown-menu {
    background-color: var(--dark-blue);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 0.5rem;
}

.dropdown:hover .dropdown-menu {
    display: block;
    animation: fadeIn 0.3s ease;
}

/* .dropdown-header {
    color: var(--primary);
    font-weight: bold;
    padding: 0;
} */

.dropdown-item {
    color: white;
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: rgba(255, 255, 255, 0.4);
    color: var(--primary);
    transform: scale(1.05);
}

.flag-icon {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.dropdown-icon {
    font-size: 20px;
    vertical-align: middle;
    transition: transform 0.3s ease;
}

/* --------------------------------------------------------------- */
/* Register */
/* --------------------------------------------------------------- */
.register-btn {
    background-color: white;
    color: var(--text-dark) !important;
    padding: 8px 25px !important;
    font-weight: bold;
    transition: all 0.3s ease;
}

.register-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
}

.register-btn::after {
    display: none;
}

.register-btn.active {
    color: var(--text-dark) !important;
}

/* --------------------------------------------------------------- */
/* Footer */
/* --------------------------------------------------------------- */
.footer {
    background-color: var(--primary);
    padding: 20px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.footer p {
    color: rgba(0, 0, 0, 0.5);
    margin: 0;
    font-size: 0.7rem;
    font-weight: lighter;
    text-transform: capitalize;
}