@media (max-width: 576px) {
    /* --------------------------------------------------------------- */
    /* Navbar */
    /* --------------------------------------------------------------- */
    .navbar {
        padding: 0.5rem;
    }

    .navbar-collapse {
        margin: 0.5rem;
        padding: 1rem;
    }

    .nav-link {
        font-size: 0.9rem;
        padding: 8px 15px;
    }

    /* --------------------------------------------------------------- */
    /* Register Button */
    /* --------------------------------------------------------------- */
    .register-btn {
        right: 30px;
        top: 5px;
    }
}