@media screen and (max-width: 768px) {

    .about-section .container,
    .path-section .container,
    .timeline-section .container,
    .user-guide-section .container {
        width: 100%;
        padding: 0 15px;
    }

    p,
    li {
        font-size: 16px !important;
    }

    h3{
        font-size: 16px !important;
    }

    .prize-section h3,
    .path-header h3,
    .timeline-header h2,
    .guide-header h2 {
        font-size: 20px !important;
    }

    .about-header h1 {
        font-size: 1.5em !important;
        margin-bottom: 0;
    }

    .path-section {
        padding: 0;
    }

    .mobile-table-container {
        margin-bottom: 2rem;
    }

    .mobile-table-title {
        background-color: #3D3D5C;
        color: white;
        padding: 10px 15px;
        text-align: center;
        margin-bottom: 0;
    }

    .criteria-table {
        width: 100%;
    }

    .mobile-criteria-table .criteria-list li {
        margin-bottom: 8px;
    }

    .challenge-content {
        font-size: 16px !important;
    }

    .criteria-list li {
        font-size: 12px !important;
    }

    .criteria-table tr:nth-child(2) td:nth-child(1),
    .criteria-table tr:nth-child(2) td:nth-child(2),
    .criteria-table tr:nth-child(2) td:nth-child(3) {
        border-bottom: 3px solid #3D3D5C;
    }

    .criteria-table td {
        padding-left: 10px !important;
        padding-right: 0px !important;
    }

    .timeline-header {
        margin: 2.5rem 0;
    }

    .timeline-section {
        padding: 20px 0;
    }

    .timeline-item {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    .timeline-item::after {
        left: 18px !important;
        right: auto;
    }

    .timeline-item:nth-child(even) {
        left: 0;
    }

    .timeline-item {
        padding-left: 50px;
        padding-right: 15px;
    }

    .timeline::after {
        left: 21px;
    }

    .timeline-item::after {
        left: 10px !important;
        width: 20px;
        height: 20px;
    }

    .timeline-content {
        padding: 20px;
    }

    .timeline-content small{
        font-size: 12px !important;
    }

    .user-guide-section {
        padding: 10px 0;
    }
    
    .guide-subtitle,
    .guide-message{
        font-size: 16px !important;
    }

    .criteria-btn,
    .guide-btn {
        padding: 12px 25px;
        font-size: 1rem;
        height: auto;
        width: 90%;
    }
}